#order-page
	/ %h3.title Welcome, #{current_user.full_name}
	.row
		.col-sm-8.pull-sm-2

			.row.deliv-info
				.col-sm-3
					%p.title DELIVERY INFO:
				.col-sm-5
					#{current_user.full_name}
					%br
					#{current_user.address.street}, #{current_user.address.city}
					%br
					#{current_user.address.state}, 
					#{current_user.address.zipcode}
					%br
					#{current_user.phone}
				.col-sm-4.text-right
					%button{:class => "btn btn-success btn-md", "data-toggle" => "modal", "data-target" => "#addressUpdate"}
						UPDATE ADDRESS

					#addressUpdate.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "3"}
						.modal-dialog{:role => "document"}
							.modal-content
								.modal-header
									%h5#exampleModalLabel.modal-title.title ADDRESS UPDATE
									%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
										%span{"aria-hidden" => "true"} 
								.modal-body
									%form{:method => "post", :action => "/addresses/:id"}
										%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}" }
										%input{:type => "hidden", :name => "new_user_edit[user_id]", :value => "#{current_user.id}"}
										%input{:type => "hidden", :name => "_method", :value => "patch"}
										.form-group.row
											.col-sm-3
												%label Street:
											.col-sm-9
												%input{:type => "text", :class => "form-control", :name => "new_user_edit[street]", :value => "#{current_user.address.street}"}
										.form-group.row
											.col-sm-3
												%label Zipcode:
											.col-sm-9
												%input{:type => "integer", :class => "form-control", :name => "new_user_edit[zipcode]", :value => "#{current_user.address.zipcode}"}
										.form-group.row
											.col-sm-3
												%label City:
											.col-sm-9
												%select{:class => 'form-control', :name => "new_user_edit[city]"}
													%option Alameda
													%option Oakland
										.form-group.row
											.col-sm-3
												%label State:
											.col-sm-9
												%input{:type => "text", :class => "form-control", :name => "new_user_edit[state]", :value => "#{current_user.address.state}"}
										.modal-footer
											%button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
											%input{:type => "submit", :class => "btn btn-primary", :value => "Save changes"} 


			%hr

			.row
				%h4.title.text-center
					BEGIN YOUR DIM SUM/LUNCH ORDER
				/ #recommended
				/ 	.text-left
				/ 		%h6.title MOST POPULAR



			%h5.header BARBECUE 
			.row.menu-items

				-@bbq_dinner.each do |bd|
					.col-sm-1

						
						%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{bd.id}
					.col-sm-6
						%h6 #{bd.name}
					.col-sm-2	
						%h6 $#{"%.2f" % bd.price}
					.col-sm-3							
						%form{:method => "post", :action => "/carts/", "data-remote" => true}
							%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
							%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
							%input{:type => "hidden", :name => "product_id", :value => "#{bd.id}"}
							%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}


			%h5.header CLAYPOT
			.row.menu-items

				-@claypot.each do |cp|
					.col-sm-1

						
						%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{cp.id}
					.col-sm-6
						%h6 #{cp.name}
					.col-sm-2	
						%h6 $#{"%.2f" % cp.price}
					.col-sm-3							
						%form{:method => "post", :action => "/carts/", "data-remote" => true}
							%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
							%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
							%input{:type => "hidden", :name => "product_id", :value => "#{cp.id}"}
							%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}



			%h5.header VEGETABLE
			.row.menu-items

				-@veggie.each do |vg|
					.col-sm-1

						
						%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{vg.id}
					.col-sm-6
						%h6 #{vg.name}
					.col-sm-2	
						%h6 $#{"%.2f" % vg.price}
					.col-sm-3							
						%form{:method => "post", :action => "/carts/", "data-remote" => true}
							%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
							%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
							%input{:type => "hidden", :name => "product_id", :value => "#{vg.id}"}
							%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}


			%h5.header RICE & NOODLE
			.row.menu-items

				-@rice_noodle.each do |rn|
					.col-sm-1

						
						%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{rn.id}
					.col-sm-6
						%h6 #{rn.name}
					.col-sm-2	
						%h6 $#{"%.2f" % rn.price}
					.col-sm-3							
						%form{:method => "post", :action => "/carts/", "data-remote" => true}
							%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
							%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
							%input{:type => "hidden", :name => "product_id", :value => "#{rn.id}"}
							%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}



			%h5.header SEAFOOD
			.row.menu-items

				-@seafood.each do |sf|
					.col-sm-1

						
						%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{sf.id}
					.col-sm-6
						%h6 #{sf.name}
					.col-sm-2	
						%h6 $#{"%.2f" % sf.price}
					.col-sm-3							
						%form{:method => "post", :action => "/carts/", "data-remote" => true}
							%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
							%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
							%input{:type => "hidden", :name => "product_id", :value => "#{sf.id}"}
							%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}


			/ %h5.header LIVE SEAFOOD
			/ .row.menu-items

			/ 	-@live_seafood.each do |ls|
			/ 		.col-sm-1

						
			/ 			%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{ls.id}
			/ 		.col-sm-6
			/ 			%h6 #{ls.name}
			/ 		.col-sm-2	
			/ 			%h6 $#{"%.2f" % ls.price}
			/ 		.col-sm-3							
			/ 			%form{:method => "post", :action => "/carts/", "data-remote" => true}
			/ 				%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
			/ 				%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
			/ 				%input{:type => "hidden", :name => "product_id", :value => "#{ls.id}"}
			/ 				%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}


			%h5.header SOUP
			.row.menu-items

				-@soup.each do |sp|
					.col-sm-1

						
						%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{sp.id}
					.col-sm-6
						%h6 #{sp.name}
					.col-sm-2	
						%h6 $#{"%.2f" % sp.price}
					.col-sm-3							
						%form{:method => "post", :action => "/carts/", "data-remote" => true}
							%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
							%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
							%input{:type => "hidden", :name => "product_id", :value => "#{sp.id}"}
							%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}


			%h5.header PREMIUM SEAFOOD & BIRD NEST
			.row.menu-items

				-@premium.each do |pr|
					.col-sm-1

						
						%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{pr.id}
					.col-sm-6
						%h6 #{pr.name}
					.col-sm-2	
						%h6 $#{"%.2f" % pr.price}
					.col-sm-3							
						%form{:method => "post", :action => "/carts/", "data-remote" => true}
							%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
							%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
							%input{:type => "hidden", :name => "product_id", :value => "#{pr.id}"}
							%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}


			%h5.header BEEF & PORK
			.row.menu-items

				-@beef.each do |bf|
					.col-sm-1

						
						%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{bf.id}
					.col-sm-6
						%h6 #{bf.name}
					.col-sm-2	
						%h6 $#{"%.2f" % bf.price}
					.col-sm-3							
						%form{:method => "post", :action => "/carts/", "data-remote" => true}
							%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
							%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
							%input{:type => "hidden", :name => "product_id", :value => "#{bf.id}"}
							%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}


			%h5.header POULTRY
			.row.menu-items

				-@poultry.each do |pt|
					.col-sm-1

						
						%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{pt.id}
					.col-sm-6
						%h6 #{pt.name}
					.col-sm-2	
						%h6 $#{"%.2f" % pt.price}
					.col-sm-3							
						%form{:method => "post", :action => "/carts/", "data-remote" => true}
							%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
							%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
							%input{:type => "hidden", :name => "product_id", :value => "#{pt.id}"}
							%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}

			/ %h5.header LUNCH SPECIAL
			/ .row.menu-items

			/ 	-@special.each do |sp|
			/ 		.col-sm-1

						
			/ 			%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{sp.id}
			/ 		.col-sm-6
			/ 			%h6 #{sp.name}
			/ 		.col-sm-2	
			/ 			%h6 $#{"%.2f" % sp.price}
			/ 		.col-sm-3							
			/ 			%form{:method => "post", :action => "/carts/", "data-remote" => true}
			/ 				%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
			/ 				%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
			/ 				%input{:type => "hidden", :name => "product_id", :value => "#{sp.id}"}
			/ 				%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}

			/ %h5.header STEAMED
			/ .row.menu-items

			/ 	-@steamed.each do |st|
			/ 		.col-sm-1
			/ 			%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{st.id}
			/ 		.col-sm-6
			/ 			%h6 #{st.name}
			/ 		.col-sm-2
			/ 			%h6 $#{"%.2f" % st.price}


			/ 		.col-sm-3
			/ 			%form{:method => "post", :action => "/carts/", "data-remote" => true}
			/ 				%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
			/ 				%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
			/ 				%input{:type => "hidden", :name => "product_id", :value => "#{st.id}"}
			/ 				%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}

			/ %h5.header BUN
			/ .row.menu-items

			/ 	-@bun.each do |bu|
			/ 		.col-sm-1

						
			/ 			%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{bu.id}
			/ 		.col-sm-6
			/ 			%h6 #{bu.name}
			/ 		.col-sm-2	
			/ 			%h6 $#{"%.2f" % bu.price}
			/ 		.col-sm-3							
			/ 			%form{:method => "post", :action => "/carts/", "data-remote" => true}
			/ 				%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
			/ 				%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
			/ 				%input{:type => "hidden", :name => "product_id", :value => "#{bu.id}"}
			/ 				%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}
			/ %h5.header BAKED
			/ .row.menu-items

			/ 	-@baked.each do |ba|
			/ 		.col-sm-1

						
			/ 			%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{ba.id}
			/ 		.col-sm-6
			/ 			%h6 #{ba.name}
			/ 		.col-sm-2	
			/ 			%h6 $#{"%.2f" % ba.price}
			/ 		.col-sm-3							
			/ 			%form{:method => "post", :action => "/carts/", "data-remote" => true}
			/ 				%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
			/ 				%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
			/ 				%input{:type => "hidden", :name => "product_id", :value => "#{ba.id}"}
			/ 				%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}

			/ %h5.header RICE NOODLE ROLL
			/ .row.menu-items

			/ 	-@rice.each do |ri|
			/ 		.col-sm-1

						
			/ 			%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{ri.id}
			/ 		.col-sm-6
			/ 			%h6 #{ri.name}
			/ 		.col-sm-2	
			/ 			%h6 $#{"%.2f" % ri.price}
			/ 		.col-sm-3							
			/ 			%form{:method => "post", :action => "/carts/", "data-remote" => true}
			/ 				%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
			/ 				%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
			/ 				%input{:type => "hidden", :name => "product_id", :value => "#{ri.id}"}
			/ 				%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}

			/ %h5.header PAN-FRIED & DEEP-FRIED
			/ .row.menu-items

			/ 	-@fried.each do |fr|
			/ 		.col-sm-1

						
			/ 			%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{fr.id}
			/ 		.col-sm-6
			/ 			%h6 #{fr.name}
			/ 		.col-sm-2	
			/ 			%h6 $#{"%.2f" % fr.price}
			/ 		.col-sm-3							
			/ 			%form{:method => "post", :action => "/carts/", "data-remote" => true}
			/ 				%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
			/ 				%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
			/ 				%input{:type => "hidden", :name => "product_id", :value => "#{fr.id}"}
			/ 				%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}



			/ %h5.header DESSERT
			/ .row.menu-items

			/ 	-@dessert.each do |ds|
			/ 		.col-sm-1

						
			/ 			%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{ds.id}
			/ 		.col-sm-6
			/ 			%h6 #{ds.name}
			/ 		.col-sm-2	
			/ 			%h6 $#{"%.2f" % ds.price}
			/ 		.col-sm-3							
			/ 			%form{:method => "post", :action => "/carts/", "data-remote" => true}
			/ 				%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
			/ 				%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
			/ 				%input{:type => "hidden", :name => "product_id", :value => "#{ds.id}"}
			/ 				%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}


			/ %h5.header BBQ OVEH
			/ .row.menu-items

			/ 	-@bbq.each do |bq|
			/ 		.col-sm-1

						
			/ 			%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{bq.id}
			/ 		.col-sm-6
			/ 			%h6 #{bq.name}
			/ 		.col-sm-2	
			/ 			%h6 $#{"%.2f" % bq.price}
			/ 		.col-sm-3							
			/ 			%form{:method => "post", :action => "/carts/", "data-remote" => true}
			/ 				%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
			/ 				%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
			/ 				%input{:type => "hidden", :name => "product_id", :value => "#{bq.id}"}
			/ 				%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}


			/ %h5.header CHEF'S RECOMMENDATIONS
			/ .row.menu-items

			/ 	-@chefs.each do |cf|
			/ 		.col-sm-1

						
			/ 			%h6{:style => "background-color:#1F181A;display:flex; justify-content:center; align-items:center; color:#E9AC00;text-align:center; "} #{cf.id}
			/ 		.col-sm-6
			/ 			%h6 #{cf.name}
			/ 		.col-sm-2	
			/ 			%h6 $#{"%.2f" % cf.price}
			/ 		.col-sm-3							
			/ 			%form{:method => "post", :action => "/carts/", "data-remote" => true}
			/ 				%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
			/ 				%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
			/ 				%input{:type => "hidden", :name => "product_id", :value => "#{cf.id}"}
			/ 				%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART", :style => "width:100%;"}
		.col-sm-4.order-box

			%h5.header.subtitle.text-center ORDER SUMMARY
			.col-sm-12.order-box-content

				.row.total-items
					.col-sm-4.items-in-cart
						%h6.title ITEMS:
					.col-sm-8{:style => "white-space: nowrap;"}
						#user-product-list
							-@all_carts.each do |ac|
								%h6 #{ac.product.name}

				.row
					.col-sm-4
						%h6.title TOTAL ITEMS:
					.col-sm-8
						$#{"%.2f" % @total_price}
				.row
					.col-sm-4
						%h6.title DELIVERY FEE:
					.col-sm-8
						%i
							%h6 Free
				.row
					.col-sm-4
						%h6.title TAX:
					.col-sm-8
						$#{"%.2f" % @tax}

				%hr

				%p.subtitle
					-if @amount_due > 15
						%h6.title.amount AMOUNT DUE: $#{"%.2f" %(@amount_due)}
						= form_tag charges_path do
							%article						
								.col-sm-12.text-center
									%script.stripe-button{"data-amount" => "$#{"%.2f" %(@tax + @total_price)}", "data-description" => "Payment for your online order", "data-key" => "#{Rails.configuration.stripe[:publishable_key]}", "data-locale" => "auto", :src => "https://checkout.stripe.com/checkout.js", :value => "Place your order"}
									:cdata
					-else
						%p.text-center Minimum of $15.00 is required for delivery.
				.row
					.col-sm-12.remove-items
						%h6.text-center 
							Note: 
							To remove items from cart, click "view cart" on navigation bar.