#order-page

	%h3.title Welcome, #{current_user.full_name}



	.row

		.col-sm-8.pull-sm-2
			.row.deliv-info
				.col-sm-3
					%p.title Delivery information:
				.col-sm-5
					#{current_user.full_name}
					%br
					#{current_user.address.street}, #{current_user.address.city}
					%br
					#{current_user.address.state}, 
					#{current_user.address.zipcode}
					%br
					#{current_user.phone}
				.col-sm-4.text-right
					%button{:class => "btn btn-info btn-sm", "data-toggle" => "modal", "data-target" => "#addressUpdate"}
						Update address

					#addressUpdate.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "3"}
						.modal-dialog{:role => "document"}
							.modal-content
								.modal-header
									%h5#exampleModalLabel.modal-title.title Address update
									%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
										%span{"aria-hidden" => "true"} 
								.modal-body
									%form{:method => "post", :action => "/addresses/:id"}
										%input{:type => "hidden", :name => "authenticity_token", :value => "<%= form_authenticity_token %>"}
										%input{:type => "hidden", :name => "new_user_edit[user_id]", :value => "#{current_user.id}"}
										%input{:type => "hidden", :name => "_method", :value => "patch"}
										.form-group.row
											.col-sm-3
												%label Street:
											.col-sm-9
												%input{:type => "text", :class => "form-control", :name => "new_user_edit[street]", :value => "#{current_user.address.street}"}
										.form-group.row
											.col-sm-3
												%label Zipcode:
											.col-sm-9
												%input{:type => "integer", :class => "form-control", :name => "new_user_edit[zipcode]", :value => "#{current_user.address.zipcode}"}
										.form-group.row
											.col-sm-3
												%label City:
											.col-sm-9
												%input{:type => "text", :class => "form-control", :name => "new_user_edit[city]", :value => "#{current_user.address.city}"}
										.form-group.row
											.col-sm-3
												%label State:
											.col-sm-9
												%input{:type => "text", :class => "form-control", :name => "new_user_edit[state]", :value => "#{current_user.address.state}"}
										.modal-footer
											%button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
											%input{:type => "submit", :class => "btn btn-primary", :value => "Save changes"} 


			%hr
			%h5.title
				Begin your order
			#recommended
				.text-left
					%h6.title{:style => "width:100%;"} Most popular

			#accordion{:role => "tablist", "aria-multiselectable" => "true"}
				.card
					.card-header{:role => "tab", :id => "heading1"}
						.mb-0
							%a{"data-toggle" => "collapse", "data-present" => "#accordion", :href => "#collapse1", "aria-expanded" => "false", "aria-controls" => "collapse1"}
								Dim sum/lunch menu
					#collapse1{:class => "collapse hide", :role => "tabpanel", "aria-labelledby" => "heading1"}
						.card-block
							%table{:class => "table"}
								%thead
									%tr
										%th.title Menu items
										%th.title Price
										%th.title Quantity
										%th.title Cart
								%tbody
								-@all_prod.each do |pa|
									%tr
										%td #{pa.name}
										%td $#{"%.2f" % pa.price}
										%td.table-input 
											%input{:type => "number", :placeholder => "#{pa.quantity}"}
										%td 
											%input{:type => "button", :class => "btn btn-primary btn-sm", :value => "add to cart"}






				.card
					.card-header{:role => "tab", :id => "heading2"}
						.mb-0
							%a{"data-toggle" => "collapse", "data-present" => "#accordion", :href => "#collapse2", "aria-expanded" => "false", "aria-controls" => "collapse2"}
								Dinner menu
					#collapse2{:class => "collapse hide", :role => "tabpanel", "aria-labelledby" => "heading2"}
						.card-block
							lasdjklasjfldksajfldskjlfdsjlfkadfdsaljlkadjflkadsfjl

		.col-sm-3.order-box

			%input{:type => "button", :class => "btn btn-success btn-md", :value => "Place your order"}
			%p By placing your order, you agree to our terms of service
			%hr
			%p.subtitle Order summary
			.row
				.col-sm-7
					%h6 Total items:
				.col-sm-5
			.row
				.col-sm-7
					%h6 Delivery fee:
				.col-sm-5
					%i
						%h6 Free
			.row
				.col-sm-7
					%h6 Tax:
				.col-sm-5
					$4.00

			%hr
			%p.subtitle
				Order total: $0.00
