#order-page
	%h3.title Welcome, #{current_user.full_name}
	.row
		.col-sm-8.pull-sm-2

			.row.deliv-info
				.col-sm-3
					%p.title DELIVERY INFO:
				.col-sm-5
					#{current_user.full_name}
					%br
					#{current_user.address.street}, #{current_user.address.city}
					%br
					#{current_user.address.state}, 
					#{current_user.address.zipcode}
					%br
					#{current_user.phone}
				.col-sm-4.text-right
					%button{:class => "btn btn-info btn-sm", "data-toggle" => "modal", "data-target" => "#addressUpdate"}
						Update address

					#addressUpdate.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "3"}
						.modal-dialog{:role => "document"}
							.modal-content
								.modal-header
									%h5#exampleModalLabel.modal-title.title ADDRESS UPDATE
									%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
										%span{"aria-hidden" => "true"} 
								.modal-body
									%form{:method => "post", :action => "/addresses/:id"}
										%input{:type => "hidden", :name => "authenticity_token", :value => "<%= form_authenticity_token %>"}
										%input{:type => "hidden", :name => "new_user_edit[user_id]", :value => "#{current_user.id}"}
										%input{:type => "hidden", :name => "_method", :value => "patch"}
										.form-group.row
											.col-sm-3
												%label Street:
											.col-sm-9
												%input{:type => "text", :class => "form-control", :name => "new_user_edit[street]", :value => "#{current_user.address.street}"}
										.form-group.row
											.col-sm-3
												%label Zipcode:
											.col-sm-9
												%input{:type => "integer", :class => "form-control", :name => "new_user_edit[zipcode]", :value => "#{current_user.address.zipcode}"}
										.form-group.row
											.col-sm-3
												%label City:
											.col-sm-9
												%input{:type => "text", :class => "form-control", :name => "new_user_edit[city]", :value => "#{current_user.address.city}"}
										.form-group.row
											.col-sm-3
												%label State:
											.col-sm-9
												%input{:type => "text", :class => "form-control", :name => "new_user_edit[state]", :value => "#{current_user.address.state}"}
										.modal-footer
											%button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
											%input{:type => "submit", :class => "btn btn-primary", :value => "Save changes"} 


			%hr

		
			%h4.title.text-center
				BEGIN YOUR ORDER
			#recommended
				.text-left
					%h6.title{:style => "width:100%;"} MOST POPULAR

			#accordion{:role => "tablist", "aria-multiselectable" => "true"}
				.card#dim-sum
					.card-header{:role => "tab", :id => "heading1"}
						.mb-0
							%a{"data-toggle" => "collapse", "data-present" => "#accordion", :href => "#collapse1", "aria-expanded" => "false", "aria-controls" => "collapse1"}
								DIMSUM/LUNCH 
					#collapse1{:class => "collapse show", :role => "tabpanel", "aria-labelledby" => "heading1"}
						.card-block
							%table{:class => "table table-responsive table-hover"}
								%thead
									%tr
										%th.title ID
										/ %th.title Image
										%th.title MENU
										%th.title PRICE

										%th.title ACTION
								%tbody
								-@all_prod.each do |pa|
									%tr
										%td{:style => "background-color:#1F181A; display:flex; justify-content:center; align-items:center; text-align:center;color:#E9AC00;border-radius:5%;"} #{pa.id}
										/ %td
										%td #{pa.name}
										%td $#{"%.2f" % pa.price}
		

										%td	
											%form{:method => "post", :action => "/carts/", "data-remote" => true}
												%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
												%input{:type => "hidden", :name => "user_id", :value => "#{current_user.id}"}
												%input{:type => "hidden", :name => "product_id", :value => "#{pa.id}"}
												/ %i{:class => "fa fa-cart-plus btn", "aria-hidden" => "true", :type => "submit", "data-remote" => "true"}
												%input{:type => "submit", :class => "btn btn-custom btn-sm", "aria-hidden" => "true", :value => "ADD TO CART"}




		.col-sm-4.order-box

			%h4.subtitle.text-center ORDER SUMMARY
			%hr
			.row
				.col-sm-4.items-in-cart
					%h6.title ITEMS:
				.col-sm-8
					#user-product-list
						-@all_carts.each do |ac|
							%h6{:style => "font-size:11.5px;"} #{ac.product.name}

			.row
				.col-sm-4
					%h6.title TOTAL ITEMS:
				.col-sm-8
					$#{"%.2f" % @total_price}
			.row
				.col-sm-4
					%h6.title DELIVERY FEE:
				.col-sm-8
					%i
						%h6 Free
			.row
				.col-sm-4
					%h6.title TAX:
				.col-sm-8
					$#{"%.2f" % @tax}

			%hr

			%p.subtitle
				-if @amount_due > 15
					%h6.title.amount AMOUNT DUE: $#{"%.2f" %(@amount_due)}
					= form_tag charges_path do
						%article						
							.col-sm-12.text-center
								%script.stripe-button{"data-amount" => "$#{"%.2f" %(@tax + @total_price)}", "data-description" => "Payment for your online order", "data-key" => "#{Rails.configuration.stripe[:publishable_key]}", "data-locale" => "auto", :src => "https://checkout.stripe.com/checkout.js", :value => "Place your order"}
								:cdata
				-else
					%p Minimum of $15.00 is required for delivery.