
<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-body">

			<table class="table">
				<h5 class="title text-center" id="viewCartTitle">ITEMS IN CART</h5>
	<!-- 			<thead>
					<tr>
						<th><h5 class="title"> ITEMS </h5></th>
						<th><h5 class="title"> ACTION </h5></th>
					</tr>
				</thead> -->
				<tbody>
					<% @in_carts.each do |a| %>
					<tr>
						<td> <%= a.product.name %> </td>
						<td>
							<form action="/carts/<%= a.id %>"  method="post">
								<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
								<input type="hidden" name="_method" value="delete">
								<input type="hidden" name="product_id" value="<%= a.product.id %>">
								<input type="hidden" name="user_id" value="<%= current_user.id %>">
								<input type="submit" name="" class="btn btn-danger btn-sm" value="REMOVE">
							</form>

						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<div id="clear_cart">
				<div calss="col-sm-12">
					
						<form action="clear" method="post">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="submit" name="" class="btn btn-danger btn-md" value="CLEAR CART" data-confirm="are you sure?">
						</form>
					
				</div>
			</div>

		</div>
	</div>
</div>
