<!DOCTYPE html>
<html>
  <head>
    <title>PacificOnlineOrder</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css">
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-right fixed-top">
		<a class="navbar-brand" href="#"><%= image_tag('logo.png')%></a>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<%= link_to "Home", root_path, :class => "nav-link", "data-role" => "page" %>
				</li>
				<% if current_user %>
					<li class="nav-item">
						<%= link_to "Order", order_page_path, :class => "nav-link" %>
					</li>
					<li class="nav-item">
						<%= link_to "Cart", order_page_path, :class => "nav-link" %>
					</li>
					<li class="nav-item">
						<%= link_to "#{current_user.full_name}'s Account", order_page_path, :class => "nav-link" %>
					</li>
					<li class="nav-item">
						<%= link_to "Log out", logout_path, :class => "nav-link" %>
					</li>
				<% else %>
					<li class="nav-item">
						<%= link_to "Sign in/up", new_user_path, :class => "nav-link" %>
					</li>
				<% end %>
			</ul>
		</div>
	</nav>

    <%= yield %>

	<div id="footer">
		<div class="col-sm-12 text-center">
			<p class="title">
				Pacific Lighthouse 
				<br> Copyright 2017
				All Rights Reserved
			</p>
		</div>
	</div>

	<div id="subfooter">
		<div class="col-sm-12 text-right">
			Powered by Amplyfii
		</div>
	</div>


  </body>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
	<script type="text/javascript">

	</script>
</html>
